<main class="w-screen h-screen flex gap-4">
  <section class=" h-full w-full">
    <div class=" w-full h-full background-image"></div>
  </section>
  <section class="w-full h-full flex justify-center items-center">
    <div class="min-w-lg flex flex-col gap-8">
      <div>
        <h4 class="font-bold text-3xl">Bienvenido a OpenRelease</h4>
        <p class="text-sm text-neutral-600">Ingresa tus credenciales para acceder la sistema.</p>
      </div>
      <form [formRoot]="loginForm" (submit)="onSubmitHandler()" class="flex flex-col gap-4">
        <div>
          <input-component
            label="Usuario"
            type="text"
            placeholder="Ingresa tu usuario"
            [formField]="loginForm.username"
          />
        </div>
        <div>
          <input-component
            label="Contraseña"
            type="password"
            placeholder="Contraseña"
            [formField]="loginForm.password"
          />
        </div>
        <div>
            <button-component text="Ingresar" type="submit" />
        </div>
      </form>
    </div>
  </section>
</main>
