<div class="w-full flex flex-col">
  <div class="w-full flex h-control input-component">
    <input
      [id]="label()"
      [type]="type()"
      [value]="value()"
      [disabled]="disabled()"
      (input)="onInput($event)"
      class="outline-none border-2 w-full h-full border-neutral-200 px-4 rounded-xl text-sm focus:border-neutral-400 transition-colors disabled:opacity-50"
      placeholder=""
      [autocomplete]="autocomplete() ? 'on' : 'off'"
    />
    <label for="">{{ label() }}</label>
  </div>

  @if (touched() && errors().length > 0) {
    @for (error of errors(); track error.kind) {
      <small class="text-red-500">
        {{ errorMessages()[error.kind] ?? error.message ?? 'Campo inválido' }}
      </small>
    }
  }
</div>
